.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 200px -45px var(--accent-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    max-width: 90%;
}

.contentWrapper {
    padding: var(--padding-M) var(--padding-L);
    border-bottom: 1px solid var(--apperance-color);
}

.muteText {
    color: #d2d2d2;
}

.title {
    margin-bottom: var(--padding-M);
    font-size: 25px;
}

.fieldDate {
    margin-bottom: var(--padding-XS);
}

.themeWrapper {
    border: 1px solid var(--apperance-color);
    border-radius: var(--border-radius);
    padding: 0 var(--padding-S);
    margin-top: var(--padding-XS);
    gap: 10px;
}

.themeTitle {
    background: white;
    display: inline-block;
    top: -13px;
    position: relative;
    padding: 0 8px;
    margin: 0 -8px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.column {
    flex-basis: 50%;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: var(--padding-M) var(--padding-L);
}

.dateInput,
.timeInput {
    transition-property: border-color,background-color,opacity;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    border: none;
    color: var(--accent-color);
    font: inherit;
    cursor: pointer;
    border-bottom: 1px solid white;
    font-variant: tabular-nums;
}

.dateInput {
    width: 11.5ch;
}

.dateInput:focus ,
.timeInput:focus {
    cursor: text;
    outline: none;
    border-bottom: 1px solid var(--apperance-color);
}

.dateInput::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2215%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%2307f%22%3E%3Cpath%20d%3D%22M20%203h-1V1h-2v2H7V1H5v2H4c-1.1%200-2%20.9-2%202v16c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2V5c0-1.1-.9-2-2-2zm0%2018H4V8h16v13z%22%2F%3E%3C%2Fsvg%3E");
    cursor: pointer;
}

.timeInput::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'14'%20height%3D'14'%20viewBox%3D'0%200%2024%2024'%20fill%3D'%2307f'%3E%3Cpath%20d%3D'M11.99%202C6.47%202%202%206.48%202%2012s4.47%2010%209.99%2010C17.52%2022%2022%2017.52%2022%2012S17.52%202%2011.99%202zM12%2020c-4.42%200-8-3.58-8-8s3.58-8%208-8%208%203.58%208%208-3.58%208-8%208z'%2F%3E%3Cpath%20d%3D'M12.5%207H11v6l5.25%203.15.75-1.23-4.5-2.67z'%2F%3E%3C%2Fsvg%3E");
    cursor: pointer;
    margin: 0;
}

.fieldDate[hidden] {
    display: block;
    visibility: hidden;
}