.root {
    align-items: center;
    justify-content: center;
    justify-items: flex-start;
    flex: 0 1 auto;
    max-width: 100%;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    padding: 0 clamp(var(--padding-XS), 2vw, var(--padding-M));
    border-radius: var(--border-radius);
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    flex-shrink: 1;
    height: 49px;
}

.main {
    background-color: var(--accent-color);
    color: #fff;
}

.main:hover {
    background-color: #1f87ff;
}

.main:active {
    background-color: #006be5;
}

.service {
    background-color: var(--apperance-color);
    color: #000;
}

.service:hover {
    background-color: #edf3fc;
}

.service:active {
    background-color: #dbe2ec;
}

.root:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}