.root {
    align-items: center;
    justify-content: center;
    justify-items: flex-start;
    flex: 0 1 auto;
    max-width: 100%;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0 30px;
    border-radius: 12px;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    height: 49px;
}

.main {
    background-color: var(--accent-color);
    color: #fff;
}

.main:hover {
    background-color: #1f87ff;
}

.main:active {
    background-color: #006be5;
}

.service {
    background-color: var(--apperance-color);
    color: #000;
}

.service:hover {
    background-color: #edf3fc;
}

.service:active {
    background-color: #dbe2ec;
}