.root {
    height: 100px;
    resize: none;
    font: inherit;
    box-sizing: border-box;
    text-align: left;
    display: block;
    padding: var(--padding-XS);
    cursor: text;
    border-radius: var(--border-radius);
    border: 1px solid #B4B8BD96;
    transition-property: border-color, opacity;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
}

.root:active,
.root:focus {
    border: 1px solid var(--apperance-color);
    outline: none;
}