.root {
    /*width: 250px;*/
    height: 100px;
    resize: none;
    font: inherit;
    box-sizing: border-box;
    text-align: left;
    border-radius: 8px;
    transition-property: border-color,background-color,opacity;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    display: block;
    background: rgba(237,240,243,0.39);
    border: 1px solid #e3e3e3;
    font-weight: 400;
    padding: 10px;
    cursor: text;
}

.root:active,
.root:focus {
    border: 1px solid #d2d2d2;
    background: #fff;
    outline: none;
}